<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../Images/Logo.png" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../CSS/main.css" />
  <link rel="stylesheet" href="../../CSS/toast.css" />

  <script async src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- Custom JavaScript -->
  <script defer src="../../JS/dashboard.js"></script>

</head>

<body class="bg-darkNavy">
  <%- include("partials/adminSidebar"); -%>
    <section>
      <div class="flex flex-col items-center justify-center">
        <div class="mt-20 text-center">
          <h1 class="text-2xl text-gold font-bold md:text-4xl">Deposit</h1>
          <h4 class="text-sm mt-2 text-gray-500 ml-14 md:text-base md:ml-0">
            Total Of <span class="text-white">
              <%= deposits.length %>
            </span> Transactions.
          </h4>
          <h3 class="mt-10 text-white font-bold text-base md:text-2xl">
            All Orders
          </h3>
        </div>
      

        <!-- <% deposits.forEach( (deposit, index)=> { %>
          <div
            class="bg-veryDarkWhite ml-16 mt-4 h-10 flex flex-row items-center space-x-2 px-1 justify-center md:ml-0">
              <h4 class="text-darkNavy text-xs mt-1.5 md:text-sm"><%= deposit.user.name %></h4>
            <h4 class="text-darkNavy mt-1.5 text-xs md:text-sm">
              <%= deposit.transactionID || "" %>
            </h4>
            <h4 class="text-darkNavy mt-1.5 text-xs md:text-sm">
              $ <%= deposit.amount %>
            </h4>

            <% if(deposit.status==='pending' ){ %>

              <form action="/user/admin/deposit?_method=patch" method="post">
                <input type="hidden" name="id" value="<%= deposit._id %>">
                <input class="text-green-600 text-xs mr-2 font-light capitalize hover:cursor-pointer hover:underline" type="submit" value="confirm" name="approve">
                <input class="text-red-600 text-xs font-light capitalize hover:cursor-pointer hover:underline" type="submit" value="reject" name="approve">
              </form>
              
              <% } else {%>
                <h4 class="text-<%= deposit.status==="successful" ? "green" : "red" %>-600 mt-1.5
                  text-xs">
                  <%= deposit.status==="successful" ? "Completed" : "Rejected" %>
                </h4>
                <% }%>
          </div>
          <% }) %> -->
          <table class="ml-12 mt-12 text-center mb-1 border-collapse w-3/4 bg-veryDarkWhite rounded-md md:ml-0">
            <thead class="">
              <tr class="h-16 border-b-2 border-cyan-500">
                <th class="w-1/4 px-1 border border-slate-300 dark:border-slate-600 font-semibold text-center text-xs md:text-sm">
                  Username</th>
                <th class="w-1/4 px-1 border border-slate-300 dark:border-slate-600 font-semibold text-center text-xs md:text-sm">
                  Transaction ID</th>
                <th class="w-1/4 border border-slate-300 dark:border-slate-600 font-semibold text-center text-xs md:text-sm">
                  Amount</th>
                <th class="w-1/4 border border-slate-300 dark:border-slate-600 font-semibold text-center text-xs md:text-sm">
                  Status</th>
              </tr>
            </thead>
          </table>
      </div>
    </section>
    <%- include ("partials/script"); -%>
</body>

</html>