<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../Images/Logo.png" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../CSS/main.css" />
  <!-- Custom JavaScript -->
  <script defer src="../JS/dashboard.js"></script>


  <style>
    .successful {
      color: green
    }

    .failed {
      color: red;
    }

    .pending {
      color: #e2a50c;
    }
  </style>
</head>

<body class="bg-darkGray box-border">
  <%- include ("partials/sidebar"); -%>
    <section>
      <div class="flex flex-col justify-center items-center md:justify-around md:ml-20 md:flex-row">
        <div class="mt-32">
          <h4 class="text-sm text-darkBlue md:base">History</h4>
          <h1 class="text-2xl mt-2 text-brightBlue font-bold md:text-4xl">
            Transactions
          </h1>
          <h4 class="text-sm mt-2 text-darkBlue md:base">
            List Of All Your Transactions
          </h4>
        </div>
        <div class="mt-10 md:mt-36">
          <a href="/user/deposit"
            class="cursor-pointer mr-2 text-xs md:text-base rounded-lg bg-lightGreen px-4 py-2 text-darkBlue">
            <button>
              <span class="mr-1"><ion-icon name="download"></ion-icon></span>Deposit
            </button>
          </a>
          <a href="/user/withdraw"
            class="cursor-pointer text-xs md:text-base rounded-lg bg-orange-400 px-4 py-2 text-darkBlue">
            <button class="">
              <span class="mr-1"><ion-icon name="share"></ion-icon></span>Withdraw
            </button>
          </a>
        </div>
      </div>

      <table class="ml-20 mt-12 mb-1 border-collapse w-3/4 text-xs bg-white shadow-xl md:text-sm md:mx-auto">
        <thead class="">
          <tr class=" text-left h-16 border-b-2 border-cyan-500">
            <th class="w-1/2 border border-slate-300 dark:border-slate-600 font-semibold text-center">
              Transaction Made</th>
            <th class="w-1/4 border border-slate-300 dark:border-slate-600 font-semibold text-center">
              Amount</th>
            <th class="w-1/4 border border-slate-300 dark:border-slate-600 font-semibold text-center">
              Date</th>
            <th class="w-1/4 border border-slate-300 dark:border-slate-600 font-semibold text-center">
              Status</th>
          </tr>
        </thead>
        <tbody>
          <% transactions.forEach(transaction=> {%>
            <tr class="border-b-1 h-10">
              <td class="border text-center capitalize">
                <%= transaction.type %>
              </td>
              <td class="border text-center">
                $<%= transaction.amount %>
              </td>
              <td class="border text-center capitalize">
                <%= transaction.createdAt.toLocaleDateString() %>
              </td>
              <td class="border text-center <%= transaction.status %> capitalize">
                <%= transaction.status %>
              </td>
            </tr>
            <% }) %>

        </tbody>
      </table>

    </section>
    <%- include ("partials/script"); -%>
</body>

</html>