<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../Images/Logo.png" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../CSS/main.css" />
  <!-- Custom JavaScript -->
  <script defer src="../JS/dashboard.js"></script>
</head>

<body class="bg-darkNavy">
  <%- include ("partials/sidebar"); -%> <%- include ("partials/script"); -%>
      <section>
        <div class="flex flex-col items-center justify-center">
          <div class="mt-32 mb-10">
            <h4 class="text-sm text-center text-gray-500">Referral</h4>
            <h1 class="text-2xl mt-2 text-gold font-bold md:text-4xl">
              Your Referral List
            </h1>
          </div>



          <table class="mx-auto mt-12 mb-1 border-collapse w-3/4 text-sm bg-white rounded-md">
            <thead class="">
              <tr class=" text-left h-16 border-b-2 border-cyan-500">
                <th class="w-1/4 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-left">
                  User name</th>
                <th class="w-1/4 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-left">
                  Email</th>
                <th class="w-1/4 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-left">
                  Date</th>
                <th class="w-1/44border border-slate-300 dark:border-slate-600 font-semibold p-4 text-left">
                  Status</th>
              </tr>
            </thead>
            <tbody>
              <% user.referrals.forEach(referral=> {%>
                <tr class="border-b-1 h-10">
                  <td class="border p-4 capitalize">
                    <%= referral.username || "user" %>
                  </td>
                  <td class="border p-4">
                    <%= referral.email%>
                  </td>
                  <td class="border p-4 capitalize">
                    <%= referral.createdAt.toLocaleDateString()%>
                  </td>
                  <td class="border p-4">
                    Success
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>

          <div class="mt-20">
            <p class="text-gray-400 text-center text-xs md:text-base">Invite Your Friends</p>
            <div class="ml-10 h-10 w-auto mt-4 border-gold border-2 rounded-md md:ml-0">
              <a onclick="copy()">
                <p id="referral-link" class="text-white text-center mt-2.5 text-xs md:text-base md:mt-1">
                  http://127.0.0.1:3000/user/create<%= user.userId %>
                </p>
              </a>
              <p class="text-xs mt-4 font-thin text-center text-gray-400 md:text-sm"> <span><ion-icon
                    name="information-circle-outline"></ion-icon></span> Tap the link to copy it to your CLIPBOARD
              </p>
            </div>
          </div>
        </div>
      </section>
      <script src="../JS/referral.js"></script>
</body>

</html>